@import url('http://fonts.googleapis.com/css?family=Roboto');

.messages-wrapper {
  padding-top: 10px;
  position: relative;
  border: 1px solid #ddd;
  border-top: 0 none;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
}

.message.audio {
  color: #fff !important;
  background-color: #71CE3D !important;
}
.message.audio:before {
  border-color: #71CE3D !important;
}

.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1 'Roboto', sans-serif;
  text-align: center;
  color: #555;
  background: #fff;
}

/*.demo {
  padding: 35px 0;
}

.demo:nth-child(odd) {
  background: none;
}

.demo:last-child {
  border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text'] {
  width: 220px;
  padding: 10px 10px 12px 80px;
  font-size: 12px;
  color: #555;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0px;
}

.css {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}

.css input {
  transition: .1s all linear;
}

.css label {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 12px;
  color: #aaa;
  transition: .1s all linear;
  cursor: text;
}

.demo1 .css.active input {
  padding-left: 45px;
}

.demo1 .css.active label {
  left: 6px;
  opacity: .5;
}

.demo2 .css.active input {
  padding-left: 15px;
}

.demo2 .css.active label {
  top: 3px;
  font-size: 9px;
  opacity: .8;
}

.demo3 .css.active input {
  padding-left: 15px;
}

.demo3 .css.active label {
  top: -18px;
}

.demo4 .css.active input {
  padding-left: 15px;
}

.demo4 .css.active label {
  top: 0;
  left: 0;
  font-size: 40px;
  opacity: .1;
}

.demo5 .css.active label {
  top: 8px;
  left: 10px;
  padding: 5px;
  color: #fff;
  background: #aaa;
}

.demo6 .css.active input {
  padding-left: 70px;
}

.demo6 .css.active label {
  top: 0;
  left: 0;
  padding: 14px;
  color: #fff;
  background: #aaa;
}

.demo7 .css.active label {
  top: 8px;
  left: 10px;
  padding: 5px;
  background: #eee;
  box-shadow: inset 0 0 0 1px #aaa;
}

.demo8 .css.active input {
  padding-left: 25px;
}

.demo8 .css.active label {
  top: 15px;
  left: 0;
  font-size: 10px;
  transform: rotate(-90deg);
}

.demo9 .css.active input {
  padding-left: 15px;
}

.demo9 .css.active label {
  top: -15px;
  left: 0;
  padding: 3px 5px;
  font-size: 10px;
  color: #fff;
  background: #aaa;
}

.demo10 .css.active input {
  padding-left: 15px;
}

.demo10 .css.active label {
  top: 39px;
  left: 0;
  width: 220px;
  padding: 3px 5px;
  font-size: 10px;
  color: #fff;
  background: #aaa;
}*/
